{% extends "lest/base.html.twig" %}

{% block main %}
	<main class="main">
		<!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">
							<font style="vertical-align: inherit;">{{'Home'|trans}}
							</font>
						</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						<font style="vertical-align: inherit;">{{'Help'|trans}}
						</font>
					</li>
				</ol>
			</div>
			<!-- End .container -->
		</nav>
		<!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="container">
				<h2 class="title text-center mb-3">
					<font style="vertical-align: inherit;">Besoin d'un coup de main ?
					</font>
				</h2>
				<!-- End .title -->
				<div class="accordion accordion-rounded" id="accordion-1">
					<div class="card card-box card-sm bg-light">
						<div class="card-header" id="heading-1">
							<h2 class="card-title">
								<a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1" class="collapsed">
									<font style="vertical-align: inherit;">
										How to shop on Lest ?
									</font>
								</a>
							</h2>
						</div>
						<!-- End .card-header -->
						<div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion-1" style="">
							<div class="card-body">
								<font style="vertical-align: inherit;">La douleur elle-même est amour, la douleur du client.  Jusqu'à ce que je déteste  Chaque week-end beaucoup d'eros  Le spectacle était aussi moche qu'il était.  L'urne  Ce n'est pas seulement le besoin de chats faciles à échauffer.  Il est temps de commencer à faire quelque chose d'innovant.  Aenean dignissim pellentesque felis.  Il n'y a pas de basket  Tout le monde est sélectionné.  Malheureusement, la douleur des Jeux olympiques est un triste parcours.  Pour rien d'autre que cela, pas enceinte, s'il vous plaît laissez les compagnons être aimés, mais pas.
								</font>
							</div>
							<!-- End .card-body -->
						</div>
						<!-- End .collapse -->
					</div>
					<!-- End .card -->

					<div class="card card-box card-sm bg-light">
						<div class="card-header" id="heading-2">
							<h2 class="card-title">
								<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
									<font style="vertical-align: inherit;">
										Dois-je payer pour la livraison ?
									</font>
								</a>
							</h2>
						</div>
						<!-- End .card-header -->
						<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1" style="">
							<div class="card-body">
								<font style="vertical-align: inherit;">La douleur elle-même est l'amour, la douleur du client.  Jusqu'à ce que je déteste  Chaque week-end beaucoup d'eros  Le spectacle était aussi moche qu'il était.  L'urne  Ce n'est pas seulement le besoin d'une fermentation facile.  Jusqu'à ce que je déteste  Chaque week-end beaucoup d'eros
								</font>
							</div>
							<!-- End .card-body -->
						</div>
						<!-- End .collapse -->
					</div>
					<!-- End .card -->

					<div class="card card-box card-sm bg-light">
						<div class="card-header" id="heading-3">
							<h2 class="card-title">
								<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
									<font style="vertical-align: inherit;">
										Serai-je facturé des frais de douane ?
									</font>
								</a>
							</h2>
						</div>
						<!-- End .card-header -->
						<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1" style="">
							<div class="card-body">
								<font style="vertical-align: inherit;">Le spectacle était aussi moche qu'il était.  L'urne  Ce n'est pas seulement le besoin d'une fermentation facile.  Jusqu'à ce que je déteste  Chaque week-end beaucoup d'eros  La douleur elle-même est amour, la douleur du client.  Jusqu'à ce que je déteste  Chaque week-end beaucoup d'eros
								</font>
							</div>
							<!-- End .card-body -->
						</div>
						<!-- End .collapse -->
					</div>
					<!-- End .card -->

					<div class="card card-box card-sm bg-light">
						<div class="card-header" id="heading-4">
							<h2 class="card-title">
								<a class="" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
									<font style="vertical-align: inherit;">
										Mon article est devenu défectueux
									</font>
								</a>
							</h2>
						</div>
						<!-- End .card-header -->
						<div id="collapse-4" class="collapse show" aria-labelledby="heading-4" data-parent="#accordion-1" style="">
							<div class="card-body">
								<font style="vertical-align: inherit;">Le spectacle était aussi moche qu'il était.  L'urne  Ce n'est pas seulement le besoin d'une fermentation facile.  Jusqu'à ce que je déteste  Chaque week-end beaucoup d'eros  La douleur elle-même est amour, la douleur du client.  Jusqu'à ce que je déteste  Chaque week-end beaucoup d'eros
								</font>
							</div>
							<!-- End .card-body -->
						</div>
						<!-- End .collapse -->
					</div>
					<!-- End .card -->
				</div>
				<!-- End .accordion -->
			</div>
			<!-- End .container -->
		</div>
		<!-- End .page-content -->

		<div class="cta cta-display bg-image pt-4 pb-4" style="background-image: url(assets/images/backgrounds/cta/bg-7.jpg);">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-9 col-xl-7">
						<div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
							<div class="col">
								<h3 class="cta-title text-white">
									<font style="vertical-align: inherit;">Si vous avez d'autres questions
									</font>
								</h3>
								<!-- End .cta-title -->
								<p class="cta-desc text-white">
									<font style="vertical-align: inherit;">Chaque week-end beaucoup d'eros
									</font>
								</p>
								<!-- End .cta-desc -->
							</div>
							<!-- End .col -->

							<div class="col-auto">
								<a href="{{ path('contact') }}" class="btn btn-outline-white">
									<span>
										<font style="vertical-align: inherit;">NOUS CONTACTER
										</font>
									</span>
									<i class="icon-long-arrow-right"></i>
								</a>
							</div>
							<!-- End .col-auto -->
						</div>
						<!-- End .row no-gutters -->
					</div>
					<!-- End .col-md-10 col-lg-9 -->
				</div>
				<!-- End .row -->
			</div>
			<!-- End .container -->
		</div>
		<!-- End .cta -->
	</main>
{% endblock %}
