{% extends "lest/base.html.twig" %}

{% block main %}
	<main class="main">
		<!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">
							<font style="vertical-align: inherit;">{{'Home'|trans}}
							</font>
						</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						<font style="vertical-align: inherit;">Service
						</font>
					</li>
				</ol>
			</div>
			<!-- End .container -->
		</nav>
		<!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="container">
							
			</div>
			<!-- End .container -->
		</div>
		<!-- End .page-content -->
	</main>
{% endblock %}