<div class="row mt-30">
  <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
    <div class="single-search-product-wrapper">
      {% for item in articles %}    
      <div class="single-search-product d-flex">
        <a href="#"><img src="{{ asset('img/vide.png') }}" alt=""></a>
        <div class="desc">
          <a href="#" class="title">Gray Coffee Cup</a>
          <div class="price">$170.00</div>
        </div>
      </div>
    {% endfor %}

      <div class="single-search-product d-flex">
        <a href="#"><img src="{{ asset('img/vide.png') }}" alt=""></a>
        <div class="desc">
          <a href="#" class="title">Gray Coffee Cup</a>
          <div class="price">$170.00</div>
        </div>
      </div>
      <div class="single-search-product d-flex">
        <a href="#"><img src="{{ asset('img/vide.png') }}" alt=""></a>
        <div class="desc">
          <a href="#" class="title">Gray Coffee Cup</a>
          <div class="price">$170.00</div>
        </div>
      </div>
    </div>
  </div>
</div>