{% import "macros/table.html.twig" as table %}
{% import "macros/head.html.twig" as head %}
{% import "macros/foot.html.twig" as foot %}
{% import "macros/breadcrumb.html.twig" as utils %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/button.html.twig" as btn %}
{% import "macros/link.html.twig" as link %}

{% extends 'admin/base.html.twig' %}


{% block stylesheets %}
  {{ head.dataTable() }}
{% endblock %}

{% block breadcrumb %}
    {{ utils.breadcrumb('Manage user',[
        {
            path:path('user_index'),
            name:'Manage users'
        }
    ])}}
{% endblock %}
{% block title %}{{'Edit User'|trans}}{% endblock %}

{% block body %}
<div class="card card-outline card-success">
    <div class="card-header">
        <h3>Edit User</h3>
    </div>
    <div class="card-body">
        {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
{% endblock %}
