{% extends 'admin/base.html.twig' %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% block title %}New User{% endblock %}
{% block breadcrumb %}
    {{ breadcrumb.breadcrumb('Manage user'|trans,[
        {
            path:'order_index',
            name:'Manage orders'
        }
    ])}}
{% endblock %}
{% block body %}
<div class="card card-outline card-primary">
    <div class="card-header">
        <h3>{{'Create new User'|trans}}</h3>
    </div>
    <div class="card-body">
        {{ include('admin/user/_form.html.twig') }}
    </div>
</div>
{% endblock %}