{% extends 'lesekoya/base.html.twig' %}

{% block title %}{{'Register'|trans}}{% endblock %}
{% block head %}
    <!-- bs-stepper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
    {# <link rel="stylesheet" href="{{ asset('adminlte/plugins/bs-stepper/css/bs-stepper.min.css') }}"> #}
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-lg-12">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
    </div>
</div>
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			{% include "registration/_form.html.twig" %}
		</div>
	</section>
	<!--================End Login Box Area =================-->

{% endblock %}
{% block foot %}
    <!-- bs-stepper -->
    <script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
    {# // <script src="{{ asset('adminlte/plugins/bs-stepper/js/bs-stepper.min.js') }}"></script> #}
{% endblock %}

{% block javascripts %}
<script>
	$(document).ready(function(){
		
	})
</script>

{% endblock %}
