<div class="row">
	<div class="form-group col-12">
		<p>{{ orderItem.produitName }}</p>
		<label for="js-order-item-qty">Quantité</label>
		<input type="number" id="order-edit-item-qty" 
		value="{{ orderItem.quantity }}" class="form-control">
	</div>
</div>
<button class="btn btn-success" 
	data-path="{{ path('editor_order_item_edit',{id:orderItem.id}) }}" 
	id="btn-order-edit-order-item-qty">Appliquer</button>
