
{% import "macros/breadcrumb.html.twig" as utils %}

{% extends 'admin/base.html.twig' %}

{% block title %}Edit Adress{% endblock %}

{% block breadcrumb %}
    {{ utils.breadcrumb('Edit Adress',[
        {
            path:'order_index',
            name:'Manage orders'
        }
    ])}}
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-outline card-success">
            <div class="card-header">
                <h4></h4>
            </div>
            <div class="card-body">
                {{ include('admin/adress/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
</div>


    <a href="{{ path('order_edit',{id: app.request.attributes.get('order_id') }) }}">back to order</a>

    {# {{ include('admin/adress/_delete_form.html.twig') }} #}
{% endblock %}
