{% import "macros/breadcrumb.html.twig" as utils %}
{% extends 'admin/base.html.twig' %}

{% block title %}Edit Article Option | {{ app_name}} {% endblock %}
{% block breadcrumb %}
    {{ utils.breadcrumb('Edit Article option',[
        {
            path:'article_index',
            name:'Manage Articles'
        }
    ])}}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-primaey card-outine">
            <div class="card-header">
                <h3>Edit Article Optiont</h3>
            </div>
            <div class="card-body">
                {{ include('admin/article_option/_form.html.twig', {'button_label': 'Update'}) }}
                <a href="{{ path('article_option_index') }}">back to list</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
