<div class="callout callout-info">
	<h5>
		<i class="icon fas fa-exclamation-triangle"></i>
		Attention !
	</h5>
	<p>Les noms des champs avec un ( * ) sont obligatoires.</p>
	<p>Le prix d'achat doit être inférieur au prix de vente.</p>
	<p>Le produit est active par defaut (Visible dans la boutique côté  client ).</p>
	<p>Ajouter des images avec un fond blanc ou sans arrière plan de bonne qualité.<br>
	Taille recommandé : 500 X 340</p>
</div>
