{% extends "base.html.twig" %}
{% import "macros/search.html.twig" as search %}
{% block title %}Malick{% endblock %}

{% block body %}
    <h1> {% trans %}Home page{% endtrans %} </h1>
    {# {{ search.search(searchForm) }} #}
    <div>
        <ul>
        {% for page in pages %}
            <li><a href="{{ path(page.path)}}">{{page.name}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="row">
        {# {% for item in lastProduit %}
            {{ include('pages/produit/_produit.html.twig') }}
        {% endfor %} #}
    </div>
{% endblock %}