{% extends 'lesekoya/base.html.twig' %}

{% block title %}New DeliverySpace{% endblock %}

{% block body %}
    <h1>Create new DeliverySpace</h1>

    {{ include('client/delivery_space/_form.html.twig') }}

    <a href="{{ path('delivery_space_index') }}">back to list</a>
{% endblock %}
