{{ form_start(form,{
    'attr':{
        'novalidate':'novalidate'
    }
}) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Save') }} <i class="fas fa-save    "></i> </button>
{{ form_end(form) }}
