{% macro alert(message, type) %}
<div class="my-3 alert alert-{{type|default('success')}} alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <center>
    <strong>{{ message }}</strong> 
  </center>
</div>
{% endmacro %}