{% macro ribbon(text) %}
{% if text == 'paid' %}
    {% set type = 'success' %}
{% endif %}
<div class="ribbon-wrapper ribbon-xl">
    <div class="ribbon bg-{{type |default('danger') }}  text-xl">
    {{ text|default('NOT PAID')}}
    {# <img src="{{ asset('adminlte/dist/img/credit/mastercard.png') }}" alt="Mastercard"> #}
    </div>
</div>
{% endmacro %}