<form method="post" action="{{ path('admin_delivery_space_delete', {'id': delivery_space.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ delivery_space.id) }}">
    <button class="btn">Delete</button>
</form>
