{% extends 'admin/base.html.twig' %}

{% block title %}Edit ParentCategory{% endblock %}

{% block body %}
    <h1>Edit ParentCategory</h1>

    {{ include('admin/parent_category/_form.html.twig', {'button_label': 'Update'}) }}
    {# {{ include('admin/parent_category/_delete_form.html.twig') }} #}
{% endblock %}
