{% extends 'admin/base.html.twig' %}

{% block title %}New ArticleBuy{% endblock %}

{% block body %}
    <h1>Create new ArticleBuy</h1>

    {{ include('admin/article_buy/_form.html.twig') }}

    <a href="{{ path('admin_article_buy_index') }}">back to list</a>
{% endblock %}
