{% extends 'admin/base.html.twig' %}

{% block title %}New Category niveau 3{% endblock %}

{% block body %}
    <h1>Create new Category3</h1>

    {{ include('admin/category3/_form.html.twig') }}

    <a href="{{ path('admin_category3_index') }}">back to list</a>
{% endblock %}
