<div class="form-group">
    <label for="">{{ label }}</label>
    <select class="custom-select" name="" id="{{id}}">
        <option selected>select one</option>
    {% for item in items %}
        <option value="{{item.id}}">{{item.name}}</option>
    </select>
    {% endfor %}
</div>