
    <select class="custom-select" required name="{{ name }}" id="{{id}}">
        <option>select one</option>
        {% for item in items %}
        <option  value="{{item.id}}">{{item.name}}</option>
        {% endfor %}
    </select>