<div class="col-lg-4">
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action border-0">
            <a href="#">{% trans %}My account{% endtrans %}<i class="fa fa-user float-right ml-1" aria-hidden="true"></i></a>
        </button>
        <button type="button" class="list-group-item list-group-item-action border-0">
            <a href="#">{% trans %}My orders{% endtrans %}<i class="ml-1 fas fa-box-open float-right"></i> </a>
        </button>
    </div>
    <hr>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action border-0">
            <a href="#">{% trans %}My account{% endtrans %}</a>
        </button>
        <button type="button" class="border-0 list-group-item list-group-item-action">
            <a href="#">{% trans %}My orders{% endtrans %}</a>
        </button>
    </div>
</div>