<form method="post" action="{{ path('shipping_delete', {'id': shipping.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shipping.id) }}">
    <button class="btn">Delete</button>
</form>
