<div class=" text-center mt-5">
    <p class="h3">Aucun résulat associé à la recherche ou au filtre:</p>
    <ul>
        <li>Vérifiez l'hortographe des termes de la recherche</li>
        <li>Essayez d'autres mots</li>
    </ul>
</div>