{% extends 'base.html.twig' %}

{% block title %}Edit Phone{% endblock %}

{% block body %}
    <h1>Edit Phone</h1>

    {{ include('admin/phone/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_phone_index') }}">back to list</a>

    {{ include('admin_phone/_delete_form.html.twig') }}
{% endblock %}
