{% extends 'admin/base.html.twig' %}

{% block title %}Phones{% endblock %}

{% block body %}
    <h1>Phone index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Valeur</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for phone in phones %}
            <tr>
                <td>{{ phone.valeur }}</td>
                <td>
                    <a href="{{ path('admin_phone_show', {'id': phone.id}) }}">show</a>
                    <a href="{{ path('admin_phone_edit', {'id': phone.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_phone_new') }}">Create new</a>
{% endblock %}
