<form method="post" action="{{ path('payment_method_delete', {'id': payment_method.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ payment_method.id) }}">
    <button class="btn">Delete</button>
</form>
