{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'lest/base.html.twig' %}

{% block main %}
<div class="container my-5">

    <h3 class="text-danger">
        Oops! Une erreur s'est produite 
        {# Oops! An Error Occurred #}
    </h3>
    <h5>
        Le serveur a renvoyé une "Erreur de serveur interne 500".
        {# The server returned a "500 Internal Server Error". #}
    </h5>
    <p>
        Quelque chose est cassé. Veuillez nous indiquer ce que vous faisiez lorsque cette erreur s'est produite. Nous le corrigerons dès que possible. Désolé pour la gêne occasionnée. 
        {# Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as
        possible. Sorry for any inconvenience caused. #}
    </p>

</div>

{% endblock %}