{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'lesekoya/base.html.twig' %}

{% block body %}
<div class="container my-5">

    <h3 class="text-danger">
        Oops! An Error Occurred
    </h3>
    <h5>
        The server returned a "500 Internal Server Error".
    </h5>
    <p>
        Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as
        possible. Sorry for any inconvenience caused.
    </p>

</div>

{% endblock %}