{% extends 'base.html.twig' %}

{% block title %}Edit Street{% endblock %}

{% block body %}
    <h1>Edit Street</h1>

    {{ include('admin/street/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('street_index') }}">back to list</a>

    {{ include('admin/street/_delete_form.html.twig') }}
{% endblock %}
