{% extends 'lesekoya/base.html.twig' %}

{% block title %}Hello EmailController!{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Visualistion des emails</h1>
    <div class="list-group">
        <a href="{{ path('email_register') }}" class="list-group-item list-group-item-action">Inscription</a>
        <a href="#" class="list-group-item list-group-item-action ">Desinscription</a>
        <a href="#" class="list-group-item list-group-item-action ">Mot de passe oublié</a>
    </div>
</div>
{% endblock %}
